.home-firstview{

   background: url('../../components/images/chip.avif');
   overflow-x: hidden;
 background-repeat: no-repeat;
}

/* .home-container{
  
    background: transparent;
    width:96vw;
}  */