.head{
    display: flex;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-image: url('../images/chip.avif');
    height: 10cm;
    justify-content: center;
    align-items: center;
   
}
.head-logo{
    width:4cm
}
.head-writeup{
    position: relative;
    top: 0cm;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5);  */
    padding-left: 3vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
} 
.main-writeup{
    font-size: 40px;
    color: rgba(246, 205, 24, 0.9);
    margin: 0;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
}
.sub-writeup{
    color: white;
    font: 2vw;
    text-align: center;
}
.horizontal-flex{
    display: flex;
}
.text-gold{
    color:var(--primary-color)
}
.m-right-text{
    margin-right:0.5cm;
}