.solution1{
    background-image:url('../images/1stsolutionjpeg');
    width: 8cm;
    height: 8cm
}
.solution2{
    background-image: url('../images/pentest.jpg');
    width: 8cm;
    margin-left: 0.2cm;
  
}
.text-secondary{
    color:white
}
.scroll-items{
width: clamp(150vw,200*1vw,300vw);
display:flex;

}
.scroll-items-wrapper{
    width: auto; /* Set the width of the parent container */
    height: 8.5cm; /* Set the height of the parent container */
    overflow-x: scroll;
    overflow-y: hidden;
    
  
}
img{
    height: 95%;
}