
.navbar-wrapper .background-primary {
    background-color: var(--primary-color);
  }

.navbar-wrapper .padding-side{
  padding-left: 1cm;
  @media (min-width: 768px) {
      padding-left: 5cm;
    }
}
  